body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 10px 0 0;
}

main {
    padding: 20px;
}

.smash-or-pass {
    text-align: center;
    margin-bottom: 40px;
}

.profiles {
    position: relative;
    overflow: hidden; /* Cacher les profils qui dépassent */
}

.profile {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    background-color: #fff;
    display: inline-block;
    transition: transform 0.5s ease-in-out; /* Ajout de la transition pour le mouvement */
}

.profile img {
    width: 100%;
    border-radius: 5px;
}

.profile p {
    margin-top: 10px;
}

.btn-pass, .btn-smash, .btn-join {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff5e7d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pass:hover, .btn-smash:hover, .btn-join:hover {
    background-color: #ff3d57;
}

